.degrade-favorite {
    font-size: 50px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(1, 196, 255)), to(#e100ff));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.margin-top-50 {
    margin-top: 50px;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-top-10 {
    margin-top: 10px;
}

.white {
    color:whitesmoke;
}